.overlay__background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 9;
}

.overlay__container {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 10;
  border-radius: 10px;
  padding: 80px;
  width: fit-content;
  height: fit-content;
}

.overlay__controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.overlay__close:after {
  display: inline-block;
  display: none;
  content: "\00d7";
}

.overlay__close {
  border: none;
  background-color: transparent;
  font-size: 36px;
  cursor: pointer;
}

/* Style for the overlay */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

/* Style for the content inside the overlay */
#overlay-content {
  background-color: white;
  padding: 80px;
  border-radius: 10px;
}
